<html>
<head>
    <title>MCQ Test - Score</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <h1 class="text-center my-4">MCQ Test - Score</h1>
        <div class="card my-4">
            <div class="card-body">
                <h2>Your Score</h2>
                <p><%= score %> out of <%= total %> correct</p>
            </div>
        </div>
        <a href="/" class="btn btn-primary">Take Again</a>
    </div>
</body>
</html>
